* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

// 头部
header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #ff841d;
    justify-content: space-between;
    align-items: center;
    a:nth-child(1) {
        background-origin: content-box;
        background-clip: content-box;
        width: 50px;
        height: 55%;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        transform: scale(1, 2);
    }
    a:nth-child(2) {
        color: #fff;
        font-size: 22px;
    }
    a:nth-child(3) {
        img {
            width: 50%;
        }
    }
}

// 底部
footer {
    background-color: #efefef;
    .get {
        display: flex;
        text-align: center;
        border-top: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
        a {
            padding: 15px;
            flex: 1;
            color: #000;
        }
        a:nth-child(-n+2) {
            border-right: 1px solid #c8c8c8;
        }
    }
    .app {
        padding: 20px 0;
        text-align: center;
        .a_phone {
            a {
                color: #fe0909;
                padding-right: 10px;
            }
            span:nth-child(3) {
                color: #656565;
                padding-left: 5px;
            }
        }
        div {
            color: #656565;
        }
    }
}

//分页
.paging {
    padding: 0 30px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn_1 {
        width: 55px;
        height: 30px;
    }
    .btn_2 {
        width: 55px;
        height: 30px;
    } // #sel {
    //     width: 80px;
    //     padding-left: 17px;
    //     text-align: center;
    // }
    .form {
        margin-top: -4px;
        .selectBox {
            width: 120px;
            height: 30px;
            line-height: 30px;
            .inputCase {
                position: relative;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                .imitationSelect {
                    padding-left: 40px;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    cursor: default;
                }
                .fa {
                    position: absolute;
                    right: 10px;
                    top: 6px;
                    color: #007AFF;
                }
            }
            .selectUl {
                display: block;
                width: 120px;
                display: none;
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                z-index: 100;
                position: absolute;
                li {
                    text-align: center;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    list-style: none;
                    border-bottom: 1px solid #ccc;
                    transition: all .5s ease 0s;
                    background-color: rgba(255, 0, 0, 0.8);
                    color: #007AFF;
                }
                li:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

//中间内容部分
.view {
    width: 100%;
    .v_ul {
        width: 100%;
        flex-wrap: wrap;
        li {
            width: 100%;
            a {
                width: 100%;
                padding: 10px;
                display: flex;
                .picture {
                    width: 150px;
                }
                .main {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    .m_up {
                        padding-left: 15px;
                        .mey{
                            color: #ff841d;
                        }
                    }
                    .m_down {
                        color: #666;
                        margin-top: 15px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

//加载
.yanchi {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: none;
    text-align: center;
    background: url("../../images/2345_image_file_copy_8.jpg");
    background-size: 100% 100%;
    span {
        margin: 300px auto;
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, 0);
        background: url("../../images/icon_bar.png") -285px -110px;
        animation: yanchi 0.5s infinite linear;
    }
    embed {
        width: 100%;
        height: 100%;
    }
    i {
        position: absolute;
        display: block;
        top: 3%;
        left: 30%;
        font-size: 14px;
        font-style: normal;
        color: aqua;
    }
}

//底部
.btm {
    width: 100%;
    div {
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        a {
            width: 33.33333%;
            text-align: center;
            font-size: 14px;
            color: #666;
            float: left;
            height: 34px;
            line-height: 34px;
            border-right: 1px solid #ccc;
        }
        a:last-child {
            img {
                display: inline-block;
                width: 15px;
                height: 15px;
            }
            border: none;
        }
    }
    p {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        span {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 13px;
            color: #666;
            a {
                display: inline;
                color: red;
            }
        }
        span:nth-child(1) {
            padding-top: 10px;
        }
    }
}